:root {
	--cor-p-bkgd: #2b1f70;
	--cor-p-frgd: #ffffff;
	--cor-s-bkgd: #6774c0;
	--cor-s-frgd: #010512;
	--cor-accent: #64b9ff7e;
	--cor-interact: #43abafda;
	--cor-border: #656597;
	--cor-secA: #1fffff;
	--cor-secB: #212144;
	--cor-white: #ffffff;
	--cor-gray: #b0b0b0;
	--cor-black: #000000;
}