* {
	margin: 0;
	padding: 0;
	font-family: 'Courier New', Courier, monospace;
}

html {
	font-size: calc(8px + 0.5vw);
}

body {
	background-color: var(--cor-p-bkgd);
	color: var(--cor-p-frgd);
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

.name {
	background-color: var(--cor-secB);
	border: 2px solid var(--cor-border);
	position: absolute;
	left: 37vw;
	top: 2vh;
	height: 8vh;
	width: 28vw;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	font-size: 2rem;
	transform: skewx(-30deg);
	justify-content: center;
}

.image {
	object-fit: cover;
	overflow: hidden;
	height: 82vh;
	width: 40vw;
	position: absolute;
	top: 4vh;
	left: 3.5vw;
	box-sizing: border-box;
	border: 2px solid var(--cor-secB);
}

.image img {
	height: 100%;
	width: 100%;	
}

.text {
	transform: skewx(30deg);
}

.box {
	background-color: var(--cor-s-bkgd);
	height: 90vh;
	width: 47vw;
	top: calc(3vh - 2px);
	position: absolute;
	z-index: 1;
}

.left {
	left: 2vw;
}

.right {
	left: 51vw;
}

footer {
	background-color: var(--cor-secB);
	border: 2px solid var(--cor-border);
	padding: 5px;
	height: 5vh;
	width: 30vw;
	display: flex;
	justify-content: center;
	transform: skew(20deg) translateX(-50%);
	position: absolute;
	bottom: 0;
	left: 50%;
}

footer p {
	transform: skew(-20deg);
	overflow: hidden;
}

.github_icon {
	height: 4vh;	
}

.nPage {
	position: absolute;
	z-index: 2;
	top: 91vh;
	left: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--cor-secB);
	color: var(--cor-secA);
	border: 1vh solid var(--cor-black);
	height: 5vh;
	width: 7vh;
}

.topic {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12vh;
	width: calc(100% - 4vh);
	position: absolute;
	top: 10vh;
	left: 2vh;
	font-size: 3rem;
	overflow-wrap: break-word;
}

.detail {
	position: absolute;
	top: 27vh;
	left: 5%;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-wrap: break-word;
	overflow-y: auto;
	font-size: 1.3rem;
}